<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<form
        action="#"
        th:action="@{/addjob}"
        th:object="${job}"
        method="post">
    <input type="hidden" th:field="*{id}" />

    position : <input type="text" th:field="*{position}" />
    <span th:if="${#fields.hasErrors('position')}"
          th:errors="*{position}"></span><br />

    organization : <input type="text" th:field="*{organization}" />
    <span th:if="${#fields.hasErrors('organization')}"
          th:errors="*{organization}"></span><br />

    descrption : <input type="text" th:field="*{descrption}" />
    <span th:if="${#fields.hasErrors('descrption')}"
          th:errors="*{descrption}"></span><br />

    catagory : <input type="text" th:field="*{catagory}" />
    <span th:if="${#fields.hasErrors('catagory')}"
          th:errors="*{catagory}"></span><br />



    <input type="submit" value="Submit" />

</form>

</body>
</html>