<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<form
        action="#"
        th:action="@{/edu}"
        th:object="${education}"
        method="post">
    <input type="hidden" th:field="*{id}" />

    Achievement : <input type="text" th:field="*{achievement}" />
    <span th:if="${#fields.hasErrors('achievement')}"
          th:errors="*{achievement}"></span><br />

    School : <input type="text" th:field="*{school}" />
    <span th:if="${#fields.hasErrors('school')}"
          th:errors="*{school}"></span><br />

    Graduation Year : <input type="number" th:field="*{gradyear}" />
    <span th:if="${#fields.hasErrors('gradyear')}"
          th:errors="*{gradyear}"></span><br />

    <input type="submit" value="Submit" />
    <a href="/skill/{id}">Add Skill</a>


</form>

</body>
</html>