<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>


<h1>Experience</h1>

<div th:each="experience : ${experiences}">
    <span th:inline="text">Position: [[${experience.position}]]<br/></span>
    <span th:inline="text">Company: [[${experience.company}]]<br /></span>
    <span th:inline="text">Service year: [[${experience.serviceyear}]]<br/></span>
    <span th:inline="text">Duties: [[${experience.duty}]]<br/></span>
</div>
<a class="btn btn-primary btn-small" th:href="@{/edu}" role="button">Add Experience</a><br/>
<a class="btn btn-primary btn-small" th:href="@{/}" role="button">Go to Home></a>
</body>
</html>